cycler==0.10.0
matplotlib==1.5.1
nltk==3.2.1
numpy==1.11.1
oauthlib==1.1.2
pandas==0.18.1
pyparsing==2.1.5
python-dateutil==2.5.3
pytz==2016.6.1
requests==2.10.0
requests-oauthlib==0.6.2
ruamel.yaml==0.11.14
scikit-learn==0.17.1
scipy==0.18.0
six==1.10.0
tweepy==3.5.0
twitter==1.17.1
vext==0.5.23
vext.pyqt5==0.5.20
yappi==0.94
